.controller-loans .outstanding_loan .time_remaining
{
	text-align: center;
	margin-bottom: 30px;
}
.controller-loans .outstanding_loan .days
{
	font-size: 12em;
	line-height: 90%;
}
.controller-loans .outstanding_loan .or
{
	text-align: center;
	margin: 30px 0;
}
.controller-loans .outstanding_loan .or .inner
{
	display: inline-block;
	padding: 10px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 100%;
	min-width: 38px;
}
