- if @loan.approved
	.notice.bg-success Aizņēmums apstiprināts
	- if @loan.disbursed
		.notice.bg-success Nauda ir tavā kontā :)
	-else
		.notice.bg-info Skaitam naudu uz tavu kontu...
		= content_for :meta do
			%meta{ "http-equiv" => "refresh", "content" => 30 }
- else
	.notice.bg-warning Aizņēmums noraidīts :(
