- if @loan.approved
	.notice.bg-success Loan approved
	- if @loan.disbursed
		.notice.bg-success Money is in your bank account :)
	-else
		.notice.bg-info Transferring money...
		= content_for :meta do
			%meta{ "http-equiv" => "refresh", "content" => 30 }
- else
	.notice.bg-warning Loan declined :(
