/*
 * require_tree ./loans/
 */
.controller-loans
{
	max-width: 900px;
	padding-top: 30px;
}
.controller-loans .notice
{
	margin: 0 15px 30px;
	padding: 15px;
	text-align: center;
	font-size: 3em;
	line-height: 1.2em;
}
.controller-loans .new_loan,
.controller-loans .outstanding_loan
{
	border: 1px solid rgba(0,0,0,.05);
	border-radius: 5px;
	background-color: rgba(0,0,0,.05);
	padding: 0 10px 20px;
	margin: 0 auto 100px;
	max-width: 420px;
}
.controller-loans .form-control.primary
{
	height: auto;
	width: 100px;
	display: inline-block;
}
.controller-loans .form-control.primary,
.controller-loans .form-control.primary + span
{
	font-size: 2em;
}
.controller-loans .calendar
{
	background-color: rgba(0,0,0,.05);
	height: 200px;
}
.controller-loans .submit
{
	width: 100%;
	font-size: 1.5em;
}

.controller-loans .summary
{
	font-size: .85em;
	line-height: 1.5em;
}
.controller-loans .summary .maturity_date
{
	margin-bottom: 10px;
}
.controller-loans .summary .name,
.controller-loans .summary .value
{
	display: inline-block;
	width: 50%;
	padding: 0 5px;
	box-sizing: border-box;
}
.controller-loans .summary .name
{
	text-align: right;
}
.controller-loans .summary .extension_title
{
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}

